    body {
    font-family: "Manrope-Medium", sans-serif;
    margin: 0;
    color: #18191F;
    }
    
    h1, h2, h3, h4, h5, p {
    margin: 0;
    }
    .container{
    width: 1447px;
    /* padding-left: 135px; */
    /* padding-right: 135px; */
    
    }
    /* .hat{
        width: 1777px;
        padding-left: 135px;
    padding-right: 135px;
    } */
    .head{
    display: flex;
    flex-direction: row;
    }
    .head-left{
    width: 686px;
    padding-left: 135px;
    }
    .head-left_begin{
    display: flex;
    }
    h5.head-left_begin{
    margin-left: 60px;
    }
    img.head-left_begin{
    margin-right: 70px;
    width: 20px;
    height: 20px;
    
    }
    .design-poster{
    width: 545px;
    height: 360px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    h1.design-furniture{
    font-weight: bold;
    font-size: 57px;
    }
    .design-poster_cost{
    display: flex;
    flex-direction: row;
    }
    h5.design-poster_chair{
    font-weight: normal;
    font-size: 20px;
    }
    h5.design-poster_chair{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    }
    h3.design-poster_cost{
    font-weight: 600;
    font-size: 30px;
    margin-left: 22px;
    }
    button.pay{
    width: 238px;
    height: 58px;
    font-size: 16px;
    background-color: #303032;
    color: white;
    }
    img.chair{
        width: 561px;
    }
    .head-right{
    background-color: #FCEAE8;
    width: 196px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    }
    img.right-begin{
        margin-right: 26px;
        display: inline-block;
    }
    .number-slider{
    margin-top: 200px;
    line-height: 40px ;
    }
    .number-now{
    display:flex;
    flex-direction: row;
    }
    img.line{
    height: 40px;
    }
    h2.number-now{
    
    font-size: 40px;
    }
    h3.number-next{
    font-weight: normal;
    font-size: 20px;
    color: #000000, 30%;
    }
    .slick-initialized .slick-slide {
        display: flex;
    }

    /* слайдер */
        .slider-arrow{
        position: absolute;
        bottom: -42px;
        z-index: 99;
        width: 29px;
        height: 20px;
        cursor: pointer;
        }
        .slider-arrow__left{
        background: url(../img/arrow-left.png) center no-repeat;
        right: 50%;
        margin-right: 100px;
        
        }
        
        .slider-arrow__right{
        background: url(../img/arrow-right.png) center no-repeat;
        left: 50%;
        margin-left: 100px;
        }
    /* перебивка точек */
.slick-dots{
    bottom: -42px;
    }
    .slick-dots li button:before{
    content: url(../img/dot.png);
    }

/* адаптивка */

/* 1920px */
@media screen and (max-width: 1920px){
    /* .container{width: 1820px; margin: 0 auto; background-color:} */
    img.chair{width: 561px;}
    .head-right{width: 196px;}
    .head-left{width: 686px; padding-left: 135px;}
     
/* 1440px */
@media screen and (max-width: 1440px){
    .container{width: 1120px; margin: 0 auto;}
    .head-left{width: 477px;}
}
/* 1024px */
/* 768px  */
/* 425px */
/* 375px */
/* 320px */