    body {
    font-family: "Manrope-Medium", sans-serif;
    margin: 0;
    color: #18191F;
    }
    
    h1, h2, h3, h4, h5, p {
    margin: 0;
    }

    

    .container{
    width: 1447px;
    /* padding-left: 135px; */
    box-sizing: border-box;
    /* padding-right: 135px; */
    
    /
    }
    .hat{
        box-sizing: border-box;
        padding-left: 10%;
        /* padding-right: 10%; */
        width: 100%;
    }
    .head{
    display: flex;
    flex-direction: row;
    
    }
    .head-left{
    width: 42%;
    }
    .head-left_begin{
    display: flex;
    }
    h5.head-left_begin{
    margin-left: 60px;
    }
    img.head-left_begin{
    margin-right: 70px;
    width: 20px;
    height: 20px;
    }
    .design-poster{
    width: 100%;
    height: 360px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    h1.design-furniture{
    font-weight: bold;
    font-size: 57px;
    }
    .design-poster_cost{
    display: flex;
    flex-direction: row;
    }
    h5.design-poster_chair{
    font-weight: normal;
    font-size: 20px;
    }
    h5.design-poster_chair{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    }
    h3.design-poster_cost{
    font-weight: 600;
    font-size: 30px;
    margin-left: 22px;
    }
    button.pay{
    width: 238px;
    height: 58px;
    font-size: 16px;
    background-color: #303032;
    color: white;
    }
    img.chair{
        width: 38%;
    }
    .head-right{
    background-color: #FCEAE8;
    /* padding-right: 135px;
    box-sizing: border-box; */
    width: 22%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    }
    img.right-begin{
        margin-right: 26px;
        display: inline-block;
    }
    .number-slider{
    margin-top: 200px;
    line-height: 40px ;
    }
    .number-now{
    display:flex;
    flex-direction: row;
    }
    img.line{
    height: 40px;
    }
    h2.number-now{
    
    font-size: 40px;
    }
    h3.number-next{
    font-weight: normal;
    font-size: 20px;
    
    color: #0000004D;

    }
    .slick-initialized .slick-slide {
        display: flex;
    }

/* 2 блок */
.new-furniture{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 130px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.new_left_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
}
.new_left_furniture{
    width: 45%;
    height: 289px;
    text-align: center;
    cursor: pointer;
}
.new_left_furniture:hover{
    background-color: #0000001D;
}
h2.new_header{
    font-weight: bold;
font-size: 28px;
}
.new-left-text{
    font-weight: normal;
    font-size: 20px;
}
p.left-text{
    font-weight: 600;
    font-size: 28px;
    margin-top: 7px ;
}

.new-vertical{
    position: relative;
    top: 35%;
}
.new_right_block{
    text-align: center;
    width: 40%;
}

/* 3 блок */
.reviev-slide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    width: 46%;
    text-align: center;
    

}
img.reviev_img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 0 auto;
}

.reviev_name-student{
    display: flex;
    flex-direction: column;
    line-height: 154.36%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 154.36%;
}

h3.reviev-name_student{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: normal;
}
h4.reviev_content{
    width: 654px;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 154.36%;
}
/* 4 блок */
.chaire-sale{
    margin-top: 100px;
    background-color: #FAECE9;
    width: 815px;
    height: 545px;
    position: relative;
    padding-left: 10%;
    padding-top: 73px;
    box-sizing: border-box;
    z-index: 1;
}
h2.last-chaire{
    font-style: normal;
font-weight: bold;
font-size: 28px;
}
img.last-line {
    position: relative;
    width: 90px;
    height: 4px;
}
.last-furniture{
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
h5.last-furniture_now{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
h5.last-furniture{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #00000066;
}
.last-sale{
    /* background-color: blue; */
    position: relative;
    margin-left: 10%;
    padding-right: 10%;
    margin-top: -378px;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 166px;
        box-shadow: 0px 0px 20px 0px #0000000D;



    }
    img.last-chaire{
        position: relative;
        width: 80%;
        height: 80%;
        right: -19%;

    }

.last-sale_chaire{
    background-color: white;
    width: 14%;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
    padding-top: 26px;
    box-sizing: border-box;
}
.last-sale_chaire-new{
    background-color: white;
    width: 14%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
    padding-top: 26px;
    box-sizing: border-box;
}
button.last-buy{
    position: relative;
    width: 100%;
    height: 58px;
    background-color: black;
    color: white;
    cursor: pointer;
}
button.last-buy:hover{
    background-color: brown;
}

h5.last-sale_chaire-now{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.sold{
    display: flex;
justify-content: flex-end;
    width: 70%;
    
    margin: auto 0 0 0;

}
h3.sold-now{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}
h4.sold{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #979798;

}

/* концовка */
.end-chaire{

margin-bottom: 30px;
box-sizing: border-box;
padding-right: 10%;
padding-left: 10%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}
img.img-end{

}
.end-chaire_left{
display: flex;
flex-direction: column;
width: 50%;
}
.end-left{
  display: flex;
  flex-direction: row;
  
  width: 60%;
  justify-content: space-between;
  margin-top: 26px;
}
img.last-email{
    width: 15px;
    height: 15px;
}
p.last-number{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
margin-left: 7px;
}
.end-number{
    display: flex;
    flex-direction: row;
}
.end-chaire_right{
    
    width: 50%;
display: flex;
flex-direction: row;
justify-content: space-between;
right: 0%;
}
h5.end-right{
    font-family: Avenir Next;
font-style: normal;
font-weight: 600;
font-size: 14px;
}
img.line-end{
    width: 80%;
    height: 4px;
    margin-bottom: 300px;
    margin-left: 10%;
}





    /* слайдер */
        .slider-arrow{
        position: absolute;
        bottom: -42px;
        z-index: 99;
        width: 29px;
        height: 20px;
        cursor: pointer;
        }
        .slider-arrow__left{
        background: url(../img/arrow-left.png) center no-repeat;
        right: 50%;
        margin-right: 100px;
        
        }
        
        .slider-arrow__right{
        background: url(../img/arrow-right.png) center no-repeat;
        left: 50%;
        margin-left: 100px;
        }
    /* перебивка точек */
.slick-dots{
    bottom: -42px;
    left: 0
    }
    .slick-dots li button:before{
    content: url(../img/dot.png);
    }

/* адаптивка */

/* 1920px */
@media screen and (min-width: 1920px){
    .container{width:1920px; margin: 0 auto;padding-left:0;}
    img.chair{width: 38%;}
    .head-right{width: 353px;margin-left: -2px;}
    .head-left{width: 843px; }
    .new_left_block{width: 750px;}
    .new_left_furniture {width: 340px;}
    .new-left-text{font-weight: normal;font-size: 20px;}
    p.left-text{font-weight: 600;font-size: 30px;margin-top: 10px ;}
    img.new_img{width: 200px; height: 200px;}
    img.right-img{width: 585px;}
    .new_left_block{width: 52%;margin-right: 90px;}
    .new_left_furniture {width: 45%; margin-right: 30px;}
    .new-left-text{font-weight: normal;font-size: 20px;}
    p.left-text{font-weight: 600;font-size: 30px;margin-top: 10px ;}
    img.new_img{width: 70%; height: 200px;}
    img.right-img{width: 100%;}
    .reviev-slide{height: 270px;}
    .reviev_name-student{font-size: 26px;}
    h3.reviev-name_student{font-size: 23px;}
    h4.reviev_content{font-size: 21px;}
    img.last-email {width: 20px;height: 20px;}
    p.last-number{font-size: 18px;}
    h5.end-right{font-size: 17px;}

}
/* 1440px */
@media screen and (max-width: 1440px){
    .container{width: 1447px; margin: 0 auto;}
    .head-left{width: 686px;} 
    /* 0,476 */
    img.chair{width: 561px;}
    /* 0,389 */
    .head-right{width: 196px;margin-left: -2px;}
    /* 0,136 */
    img.new_img{width: 80%; height: 200px;}
}
/* 1024px */
@media screen and (max-width: 1025px){
    .container{width: 1024px; margin: 0 auto;} 
    .head-left{width: 410px;} 
    img.chair{width: 371px;}
    .head-right{width: 139px;margin-left: -2px;}
    h5.head-left_begin {margin-left: 52px;}
    img.head-left_begin {margin-right: 0px;}
    h1.design-furniture {font-weight: bold;font-size: 51px;}
    h3.design-poster_cost {font-size: 25px;}
    h5.design-poster_chair {font-size: 17px;}
    button.pay {width: 145px;height: 39px;font-size: 14px;}
    img.right-begin {margin-right: 13px; width: 21px; height: 22px;}
    h2.number-now {font-size: 30px;}
    h3.number-next {font-size: 18px;}
    .slider-arrow {bottom: -42px;width: 25px;height: 18px;}
    .new-furniture{padding-right: 0;}
    img.right-img{width: 100%;}
    .new_left_block{width: 90%;}
    img.new_img{width: 70%; height: 250px;}
    .new_right_block {width: 60%;margin: 0 auto;margin-top: 73px;}
    .reviev-slide{height: 270px;}
    .reviev_name-student{font-size: 26px;}
    h3.reviev-name_student{font-size: 20px;}
    h4.reviev_content{font-size: 18px;}
    .last-sale_chaire{padding-left: 17px;padding-top: 20px; height:339px;}
    .chaire-sale{width: 50%;}
    .last-sale_chaire-new{padding-left: 17px;padding-top: 20px; height:339px;}
    .sold{width: 75%;}
    h5.last-sale_chaire-now{font-size: 14px;}
    h3.sold-now{font-size: 18px;}
    h4.sold{font-size: 13px;}
    .end-left{width: 75%;}
    img.last-email {width: 13px;height: 13px;}
    p.last-number{font-size: 15px;}
    h5.end-right{font-size: 13px;}
}
/* 768px  */
@media screen and (max-width: 769px){
    .container{width: 768px; margin: 0 auto; padding-right: 0px; padding-left: 80px;} 
    .head-left{width: 42%;} 
    img.chair{width: 38%;}
    .head-right{width: 21%;margin-left: -2px;}
    h5.head-left_begin {margin-left: 26px;font-size: 11px;}
    img.head-left_begin {margin-right: 0px; width: 17px; height: 17px;}
    .design-poster {width: 273px;height: 360px;margin-top: 90px;}
    h1.design-furniture {font-weight: bold;font-size: 33px;}
    h3.design-poster_cost {font-size: 25px;}
    h5.design-poster_chair {font-size: 17px;}
    button.pay {width: 145px;height: 39px;font-size: 14px;}
    img.right-begin {margin-right: 13px; width: 21px; height: 22px;}
    h2.number-now {font-size: 30px;}
    h3.number-next {font-size: 18px;}
    .slider-arrow {bottom: -42px;width: 25px;height: 18px;}
    .new-furniture{padding-right: 80px;}
    .new_left_block{width: 100%;}
    .new_left_furniture {width: 45%;height: 50%;margin-right: 20px;}
    .new-left-text{font-weight: normal;font-size: 20px;}
    p.left-text{font-weight: 600;font-size: 30px;margin-top: 10px ;}
    img.new_img{width: 100px; height: 100px;}
    img.right-img{width: 100%}
    .new_right_block{margin: 0 auto;}

    .reviev-slide{height: 270px;}
    .reviev_name-student{font-size: 26px;}
    h3.reviev-name_student{font-size: 20px;}
    h4.reviev_content{font-size: 18px;}
    h2.last-chaire {font-size: 26px;}
    .last-furniture {width: 100%;}

    .last-sale_chaire-new{padding-left: 17px;padding-top: 20px; height: 391px; width: 30%;margin-bottom: 39px;}
    .last-sale_chaire{padding-left: 17px;padding-top: 20px; height:339px; width: 30%;}
    .chaire-sale{width: 50%; height: 937px;}
    .last-sale{margin-top: -726px;}
    
    .sold{width: 80%;}
    h5.last-sale_chaire-now{font-size: 21px;}
    h3.sold-now{font-size: 20px;}
    h4.sold{font-size: 15px;}

    .end-left{width: 90%;}
    img.last-email {width: 12px;height: 12px;}
    p.last-number{font-size: 12px;}
    h5.end-right{font-size: 10px;}
}
    
/* 425px */
@media screen and (max-width: 426px){
.container{width: 425px; margin: 0 auto; padding-right: 0px; padding-left: 0px;}
    .head-left{width: 42%;} 
    img.chair{width: 38%;}
    .head-right{width: 21%;margin-left: -2px;}
    h5.head-left_begin {margin-left: 11px;font-size: 8px;}
    img.head-left_begin {margin-right: 0px; width: 12px; height: 12px;}
    .design-poster {width: 100%;height: 360px;margin-top: 50px;}
    h1.design-furniture {font-weight: bold;font-size: 20px;}
    h3.design-poster_cost {font-size: 22px;}
    h5.design-poster_chair {font-size: 15px;}
    button.pay {margin-left: 2px; width: 100px;height: 30px;font-size: 14px;}
    img.right-begin {margin-right: 13px; width: 21px; height: 22px;}
    h2.number-now {font-size: 25px;}
    h3.number-next {font-size: 18px;}
    .slider-arrow {bottom: -42px;width: 25px;height: 18px;}
    .new-furniture{padding-right: 80px;}
    .new_left_block{width: 100%;}
    .new_left_furniture {width: 42%;height: 50%;margin-right: 10px; margin-bottom: 20px;}
    .new-left-text{font-weight: normal;font-size: 20px;}
    p.left-text{font-weight: 600;font-size: 30px;margin-top: 10px ;}
    img.new_img{width: 100px; height: 100px;}
    img.right-img{width: 100%}
    .new_right_block{margin: 0 auto; } 

    .reviev-slide{height: 220px;}
    .reviev_name-student{font-size: 20px;}
    h3.reviev-name_student{font-size: 20px;}
    h4.reviev_content{font-size: 12px; width: 100%;}
    
    .chaire-sale{width: 100%; height: 138px; background-color: white;}
    h2.last-chaire {font-size: 20px; }
    .last-furniture {width: 100%;}

    .last-sale_chaire-new{padding-left: 17px;padding-top: 20px; height: 391px; width: 100%;margin-bottom: 39px;padding-left: 25px;}
    .last-sale_chaire{padding-left: 17px;padding-top: 20px; height:339px; width: 30%; display: none;}
    
    .last-sale{margin-top: 10px; margin-bottom: 50px;}
    
    .sold{width: 50%;}
    .end-chaire {margin-bottom: 9px;}
    .end-chaire_left{width: 90%;}
    .end-number{width: 100%; margin-bottom: 10px;}
    .end-chaire_right {width: 100%; flex-wrap: wrap; }
    h5.end-right {font-size: 10px;width: 115px; margin-bottom: 10px;}
    h5.last-sale_chaire-now{font-size: 21px;}
    h3.sold-now{font-size: 20px;}
    h4.sold{font-size: 15px;}

    .end-left{width: 90%; flex-wrap: wrap;}
    img.last-email {width: 12px;height: 12px;}
    p.last-number{font-size: 13px;}
    h5.end-right{font-size: 10px;}
}
/* 375px */
/* 320px */